main {
  padding: 0;
  display: flex;
  flex-direction: column;
}
#theme-sect {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 0.2fr));
  gap: 60px 20px;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#theme-sect .theme {
  position: relative;
  border: 1px solid springgreen;
  height: 170px;
  border-radius: 10px;
  text-align: center;
}

#theme-sect .theme::before {
  position: absolute;
  content: "Name";
  bottom: 0;
  transform: translate(-50%, 110%);
}

.theme-btn {
  position: relative;
  height: 20vh;
  min-height: 100px;
  background: var(--bg);
  border-radius: 10px;
  border: thin solid var(--color);
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.theme-btn:hover {
  opacity: 0.7;
}

.theme-btn div:nth-child(1) {
  height: 40%;
  width: 80%;
  background: var(--nav-color);
  color: var(--color);
  border: thin solid var(--color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.theme-btn div:nth-child(2) {
  height: 20%;
  width: 80%;
  color: var(--color);
  background: var(--sub-color);
  border: thin solid var(--color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
